<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/jquery-2.2.0.min.js"></script>
    <script src="~/scripts/myCustomScript.js"></script>
</head>
<body>
    <div>
        <p id="ListOfProdResults">List of Products</p>
        <br />
        <input type="button" id="BtnGetProducts" value="Get All Products"/>
        <br/><br />
        
        <label>Find product by ID: </label>
        <input type="text" id="TextBoxProductSearch">
        <input type="button" id="BtnProductSearch" value="Search"/>
        <br /><br />

        <label>Update product by ID: </label>
        <input type="text" id="TextBoxProductUpdate_ID">
        <label>New price: </label>
        <input type="text" id="TextBoxProductUpdate_Price">
        <input type="button" id="BtnProductUpdate" value="Update" />
        <br /><br />

        <label>Delete product by ID: </label>
        <input type="text" id="TextBoxProductDelete">
        <input type="button" id="BtnProductDelete" value="Delete" />
        <br /><br />

    </div>
</body>
</html>
